
{%- for action in record_actions %}

        <a class="btn btn-mini" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">
            {{ "{{ 'views.actions."~action~"'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}
        </a>

{%- endfor %}
